html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-color: #db2777;
  color: #fdf2f8;
  font-family: BlinkMacSystemFont, Helvetica, Arial, system-ui, sans-serif;
}

main {
  max-width: 80rem;
  margin: 0 auto;
}

@media (min-width: 800px) {
  main {
    margin-top: 6rem;
  }
}

a,
a:link,
a:visited {
  color: inherit;
}

h1 {
  font-weight: 800;
  font-size: 6rem;
  color: #fecdd3;
  margin: 1rem 0;
}

button {
  padding: 1rem 3rem;
  font: inherit;
  font-weight: 800;
  border: none;
  border-radius: 100vmax;
  background-color: #fdf2f8;
  border: 2px solid #fdf2f8;
  text-align: inherit;
  margin: 0.5rem 0;
  color: black;
}

button:not(:disabled):hover {
  background-color: #fbcfe8;
}

button.secondary {
  background-color: transparent;
  color: #fdf2f8;
}

button.secondary:not(:disabled):hover {
  background-color: #fa62b5;
}

button:disabled {
  background-color: #f472b6;
  text-decoration-line: line-through;
}

.step-completed button:disabled {
  display: none;
}

.step-disabled {
  opacity: 0.7;
}
